## Visual Studio files
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
bin/
obj/

## NuGet
*.nupkg
packages/
project.lock.json

## Windows
Thumbs.db
Desktop.ini

## MDF and LDF database files
*.mdf
*.ldf
*.ndf